﻿input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

#addingElements {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#container {
    height: 100%;
    width: 100%;
    font-size: 0;
}

#left, #middle, #right {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
}

#left {
    width: 25%;
}

#middle {
    width: 50%;
    padding: 20px;
}

#right {
    width: 25%;
    background: yellow;
}
